In [39]:
import json

In [40]:
file_path = "POI_data.json"

# Read the JSON file
with open(file_path, "r", encoding="utf-8") as file:
    data = json.load(file)

In [66]:
data

{'Query': 'What can I do in Singapore in 2 days if I love shopping and modern city vibes? Iâ€™d actually favour sweet stuff in general. Budget is 180 SGD.',
 'Hawker': [{'Hawker Name': 'Ah Seah Traditional Popiah',
   'Dish Name': 'Traditional Popiah',
   'Description': 'A delightful sweet-and-savory dessert that offers a unique finish to your meal.',
   'Satisfaction Score': 4.5,
   'Rating': 4.5,
   'Avg Food Price': 3.8,
   'Duration': 60,
   'Sources': ['https://www.ahchewdesserts.com/our-menu/',
    'https://menuprices.sg/ah-chew-desserts-menu/']},
  {'Hawker Name': 'Punggol Nasi Lemak',
   'Dish Name': 'Nasi Lemak',
   'Description': 'Fragrant coconut rice paired with crispy fried chicken, spicy sambal, and crunchy anchovies.',
   'Satisfaction Score': 4.3,
   'Rating': 4.3,
   'Avg Food Price': 5.0,
   'Duration': 60,
   'Sources': ['https://www.ponggolnasilemak.com.sg/',
    'https://sgmenuprice.net/ponggol-nasi-lemak-menu/']},
  {'Hawker Name': 'Chinatown Complex Food Centre',
   'Dish Name': 'Yong Tau Foo',
   'Description': 'A bowl of Yong Tau Foo with bee hoon or noodles, topped with fragrant ikan bilis.',
   'Satisfaction Score': 4.2,
   'Rating': 4.2,
   'Avg Food Price': 4.0,
   'Duration': 60,
   'Sources': ['https://eatbook.sg/chinatown-complex-food/',
    'https://danielfooddiary.com/2025/01/25/chinatowncomplex/']},
  {'Hawker Name': 'Tangs Market',
   'Dish Name': 'Chili Ban Mian',
   'Description': 'A bowl of noodles with a rich chili sauce, offering a spicy kick.',
   'Satisfaction Score': 4.0,
   'Rating': 4.0,
   'Avg Food Price': 5.0,
   'Duration': 60,
   'Sources': ['https://www.yelp.com/biz/tangs-market-singapore',
    'https://www.pricelisto.com/menu-prices/tangs-market-sg']},
  {'Hawker Name': 'Singapore Zam Zam Restaurant',
   'Dish Name': 'Murtabak',
   'Description': 'A savory stuffed pancake filled with spiced meat, a popular Indian-Muslim dish.',
   'Satisfaction Score': 4.6,
   'Rating': 4.6,
   'Avg Food Price': 6.0,
   'Duration': 60,
   'Sources': ['https://eatzeely.com/zam-zam-restaurant-menu-prices-singapore/',
    'https://www.singmenu.com/zam-zam-restaurant-menu/']}],
 'Attraction': [{'Attraction Name': 'Suntec City Shopping Centre',
   'Description': "Suntec City is a major shopping destination in Singapore, offering a wide range of retail, dining, and entertainment options. It's perfect for shopping enthusiasts looking to explore a variety of stores and enjoy the vibrant city atmosphere.",
   'Rating': 4.0,
   'Satisfaction Score': 4.0,
   'Entrance Fee': 0.0,
   'Duration': 120,
   'Sources': ['https://en.wikipedia.org/wiki/Suntec_City',
    'https://sunteccity.com.sg/',
    'https://www.tripadvisor.com.sg/Attraction_Review-g294265-d317398-Reviews-Suntec_City-Singapore.html']},
  {'Attraction Name': 'Clarke Quay',
   'Description': "Clarke Quay is a historical riverside quay in Singapore, known for its vibrant nightlife and dining options. It's a great spot for those who enjoy modern city vibes and want to experience Singapore's lively atmosphere.",
   'Rating': 4.3,
   'Satisfaction Score': 4.3,
   'Entrance Fee': 0.0,
   'Duration': 120,
   'Sources': ['https://forevervacation.com/singapore/clarke-quay',
    'https://www.tripadvisor.com.sg/Attraction_Review-g294265-d324756-Reviews-Clarke_Quay-Singapore.html']},
  {'Attraction Name': 'ArtScience Museum',
   'Description': "Located at Marina Bay Sands, the ArtScience Museum is known for its unique architecture and fascinating exhibitions that blend art, science, culture, and technology. It's ideal for those who appreciate modern art and innovative displays.",
   'Rating': 4.1,
   'Satisfaction Score': 4.1,
   'Entrance Fee': 22.0,
   'Duration': 120,
   'Sources': ['https://www.marinabaysands.com/museum/ticket/search.html',
    'https://www.tripadvisor.com.sg/Attraction_Review-g294265-d2138895-Reviews-ArtScience_Museum_at_Marina_Bay_Sands-Singapore.html']},
  {'Attraction Name': 'National Gallery Singapore',
   'Description': "The National Gallery Singapore houses the largest public collection of modern art in Southeast Asia. It's perfect for art lovers and those interested in exploring Singapore's cultural heritage through art.",
   'Rating': 4.4,
   'Satisfaction Score': 4.4,
   'Entrance Fee': 25.0,
   'Duration': 120,
   'Sources': ['https://www.nationalgallery.sg/sg/en/visit/visitor-information.html',
    'https://www.tripadvisor.com.sg/Attraction_Review-g294265-d8077179-Reviews-National_Gallery_Singapore-Singapore.html']}],
 'Metrics': {'Hawker Agent Time (s)': 24.72,
  'Attraction Agent Time (s)': 20.03}}

In [42]:
data.keys()

dict_keys(['Query', 'Hawker', 'Attraction', 'Metrics'])

In [43]:
for entry in data:
    print(entry)

Query
Hawker
Attraction
Metrics

In [44]:
hawker_names_llm = [entry['Hawker Name'] for entry in data["Hawker"]]
hawker_names_llm

['Ah Seah Traditional Popiah',
 'Punggol Nasi Lemak',
 'Chinatown Complex Food Centre',
 'Tangs Market',
 'Singapore Zam Zam Restaurant']

In [55]:
attraction_names_llm = [entry['Attraction Name'] for entry in data["Attraction"]]
attraction_names_llm

['Suntec City Shopping Centre',
 'Clarke Quay',
 'ArtScience Museum',
 'National Gallery Singapore']

In [45]:
import pandas as pd

In [46]:
df_a = pd.read_csv("singapore_67_attractions_with_scores.csv")
df_a.head()

,No.,Attraction Name,Typical Expenditure (SGD),Typical Time Spent (hours),Family Tourist,Backpacker,Influencer,Cultural Enthusiast,Thrill Seeker,Nature Lover,Shopping Enthusiast
0,1,Gardens by the Bay,28,3.0,8,7,9,1,1,10,1
1,2,Marina Bay Sands SkyPark Observation Deck,26,1.0,9,6,9,7,6,7,7
2,3,Singapore Zoo,50,4.0,9,6,8,7,1,7,1
3,4,River Wonders,40,3.0,8,1,8,1,1,1,1
4,5,Bird Paradise,38,3.0,8,1,9,1,6,1,1

In [48]:
attraction_names_kb = df_a["Attraction Name"].to_list()

In [49]:
df_h = pd.read_csv("singapore_20_food_with_scores.csv")
df_h.head()

,No.,Name,Ratings (Google Reviews),Highlights,Family Tourist,Backpacker,Influencer,Cultural Enthusiast,Thrill Seeker,Nature Lover,Shopping Enthusiast
0,1,Lau Pa Sat,4.4,"Housed in a historic Victorian-era building, L...",9,10,10,10,5,5,7
1,2,Amoy Street Food Centre,4.3,"Popular among office workers, this center feat...",9,10,10,10,5,5,7
2,3,Hill Street Tai Hwa Pork Noodle,3.9,"Awarded one Michelin star, this stall is famou...",9,10,8,5,5,5,5
3,4,â€‹Chinatown Complex Food Centreâ€‹,4.2,"The largest hawker centre in Singapore, housi...",9,10,10,10,5,5,7
4,5,Sungei Road Laksa,4.2,A historic stall known for its flavorful laksa...,9,10,8,7,2,10,5

In [53]:
hawker_names_kb = df_h["Name"].to_list()
hawker_names_kb

['Lau Pa Sat',
 'Amoy Street Food Centre',
 'Hill Street Tai Hwa Pork Noodle',
 '\u200bChinatown Complex Food Centre\u200b',
 'Sungei Road Laksa',
 "Muthu's Curry - Little India",
 'Tekka Centre',
 '\u200bMaxwell Food Centre',
 'One Punggol Hawker Centre',
 'East Coast Lagoon Food Village',
 'Changi Village Hawker Centre',
 '328 Katong Laksa',
 'Orchard Yong Tau Foo',
 'Kok Kee Wonton Noodle (Foch Road)',
 'Tangs Market',
 'Food Opera ION Orchard',
 'Liao Fan Hawker Chan',
 'Tekka Centre',
 'Teck Ghee Court Market & Food Centre',
 'Singapore Zam Zam Restaurant']

In [51]:
filtered_hawker_names = [name for name in hawker_names_llm if name in hawker_names_kb]

In [52]:
filtered_hawker_names

['Tangs Market', 'Singapore Zam Zam Restaurant']

In [56]:
filtered_attraction_names = [name for name in attraction_names_llm if name in attraction_names_kb]

In [ ]:
filtered_attraction_names

['Suntec City Shopping Centre',
 'Clarke Quay',
 'ArtScience Museum',
 'National Gallery Singapore']

In [62]:
import random
# Get the attractions not in the filtered list
remaining_attractions = [name for name in attraction_names_kb if name not in filtered_attraction_names]

# Randomly sample 10 (or fewer if less than 10 remain)
at_least_ = 30
num_to_take = at_least_ - len(filtered_attraction_names)
num_to_take

26

In [65]:
sampled_attractions = random.sample(remaining_attractions, k=min(num_to_take, len(remaining_attractions)))
sampled_attractions

['Bukit Timah Nature Reserve',
 'Science Centre Singapore',
 'Reflections at Bukit Chandu',
 'Snow City',
 'Asian Civilisations Museum',
 'National Museum of Singapore',
 'Wave House Sentosa',
 'Haw Par Villa',
 'Marina Barrage',
 'Little India',
 'Universal Studios Singapore',
 'iFly Singapore',
 'Fort Siloso',
 'Mount Faber Park',
 'HortPark',
 'Peranakan Museum',
 'Thian Hock Keng Temple',
 'Kwan Im Thong Hood Cho Temple',
 'Sri Mariamman Temple',
 'Chinatown',
 'Henderson Waves',
 'Telok Blangah Hill Park',
 'Buddha Tooth Relic Temple',
 'Ice Cream Museum',
 'Battlebox',
 'Fort Canning Park']

In [71]:
# Step 1: Filter rows
filtered_rows = df_a[df_a['Attraction Name'].isin(sampled_attractions)]

# Step 2: Convert to list of dictionaries
new_data = []
for _, row in filtered_rows.iterrows():
    attraction_dict = {
        'Hawker Name': None,  # Leave blank or remove if not needed
        'Attraction Name': row['Attraction Name'],
        'Description': "NA.",
        'Rating': 2.5,  # normal to the person
        'Satisfaction Score': 2.5,  # normal to the person
        'Entrance Fee': 10.0,
        'Duration': 120,
        'Sources': ["NA"]
    }
    new_data.append(attraction_dict)

In [75]:
data['Attraction'].extend(new_data)

In [79]:
len(data["Attraction"])

30